.customer-wrap {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
}

.customer-wrap-comment-text {
  display: flex;
  width: 300px;
  background-color: #e2e2e2;
  position: relative;
  color: #86878B;
  font-size: 14px;
  text-align: center;
  border-radius: 7px;
  align-items: center;
  padding: 15px;
}

.customer-wrap-comment-text::after {
  content: '';
  width: 0;
  height: 0;
  border-top: 20px solid #e2e2e2;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  display: block;
  position: absolute;
  top: 100%;
  left: 40px;

}

.customer-wrap-comment-author {
  display: flex;
  margin: auto;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  margin: 30px 0;
}

.customer-wrap-comment-author-info {
  text-align: right;
}

.customer-wrap-comment-author-photo {
  display:flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
  width: 70px;
  height: 70px;
}

.customer-wrap-comment-author-photo img {
  width: 100%;
  height: 100%;
  background-size: cover;
}