.features-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.features-wrap-content-tabs-wrap {
  display: flex;
  flex-direction: column;
}

.features-wrap-content {
  display: flex;
  justify-content: space-between;
}

.features-wrap-tabs-item:last-child {
  margin: 0px;
}

.features-wrap-tabs-item {
  width: 120px;
  height: 100px;
  background: #333333;
  border: 1px solid #333333;
  color: #FFFFFF;
  border-radius: 4px;
  margin-bottom: 10px;
}

.features-wrap-tabs-item:hover {
  background: #EC7979;
  border: 1px solid #EC7979;
  transition: 0.8s;
}

.features-wrap-content-article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0px 30px;
}

.features-pic {
  display: inline-block;
  width: 320px;
}

.features-wrap-content-article-item__tab2 {
  display: none;
}
.features-wrap-content-article-item__tab2 {
  display: none;
}

.features-wrap-content-article-button {
  width: 135px;
  height: 40px;
  background: #EC7979;
  border: 1px solid #EC7979;
  display: block;
  font-size: 15px;
  color: #FFFFFF;
  cursor: pointer;
}

#article2 {
  display: none;
}

#article3 {
  display: none;
}
