.container-features {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.features-content-tabs {
  display: flex;
}

.features-content-tabs-wrap {
  display: flex;
  flex-direction: column;
  margin-top: 45px;
}

.features-content-tabs-item {
  width: 120px;
  height: 100px;
  background: #333333;
  border: 1px solid #333333;
  color: #FFFFFF;
  border-radius: 4px;
  margin-bottom: 10px;
}

.features-content-tabs-item:hover {
  background: #EC7979;
  border: 1px solid #EC7979;
}

.features-content-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 570px;
  margin: 0px 30px;
}

.features-pic {
  display: inline-block;
  width: 320px;
}

.features-content-wrap-item__tab2 {
  display: none;
}
.features-content-wrap-item__tab3 {
  display: none;
}

.features-content-wrap-button-item {
  width: 135px;
  height: 40px;
  background: #EC7979;
  border: 1px solid #EC7979;
  display: block;
  font-size: 15px;
  color: #FFFFFF;
  margin-bottom: 10px;
}