.header {
  background: #000000;
  padding: 20px 0;
}

.header-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-row-logo {
  display: flex;
  color: #FFFFFF;
  align-items: center;
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
}

.header-row-navigation-list {
  color: rgba(255, 255, 255, 0.7);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-row-navigation-list-item {
  display: inline-block;
  margin-left: 20px;
  cursor: pointer;
}

.header-row-logo::after {
  content: "IT";
  font-size: 30px;
  color: #ec7979;
  display: block;
}


.header-row-navigation-list-item:hover {
  content: "";
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
  display: block;
}